.cog {
	-webkit-animation: cog 1s infinite;			
	-moz-animation: cog 1s infinite;
	-ms-animation: cog 1s infinite; 			
	animation: cog 1s infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;		
	-ms-animation-timing-function: linear;
	animation-timing-function: linear	
}

@keyframes cog {
    100%{ 
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}