@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.reaclogo {
	-webkit-animation: reaclogo 5s ;			
	-moz-animation: reaclogo 5s ;
	-ms-animation: reaclogo 5s ; 			
	animation: reaclogo 5s ;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;		
	-ms-animation-timing-function: linear;
	animation-timing-function: linear	
}
@keyframes reaclogo {
    0%{ 
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100%{ 
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}
.withanimation {
	-webkit-animation: withanimation 2s ;			
	-moz-animation: withanimation 2s ;
	-ms-animation: withanimation 2s ; 			
	animation: withanimation 2s ;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;		
	-ms-animation-timing-function: linear;
	animation-timing-function: linear;
    overflow: hidden;
}
@keyframes withanimation {
    0%{ 
        width: 0px;
        height: 0px;
    }
    100%{ 
        width: 70px;
        height: 70px;
    }
}
.swiper-pagination-bullet-active{
    background-color: #fec028 ;
}
.swiper-button-next,
.swiper-button-prev{
    color: #fec028;
}
